@import '../../styles/main.scss';

.footer {
    @extend .container;

    width: 100%;
    background-color: #1c1c1c;
    color: white;
    padding: $medium-padding $large-padding;

    font-size: $medium-font-size;
    text-align: center;
    border-top-left-radius: $large-border-radius;
    border-top-right-radius: $large-border-radius;
    
    @include tablet {
        font-size: $large-font-size;
    }
}